### 1. Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
birth_year = 1980

# Calculate the year of your fifth birthday
fifth_birthday_year = birth_year + 5

# Create the list of years
years_list = list(range(birth_year, fifth_birthday_year))

# Print the list of years
print(years_list)

[1980, 1981, 1982, 1983, 1984]

### 2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
# Set the year of your birth
birth_year = 1980

# Calculate the year of your third birthday
third_birthday_year = birth_year + 3

# Find the index of the third birthday year in the list
third_birthday_index = years_list.index(third_birthday_year)

# Print the index
print(third_birthday_index)  # Output: 2

3

### 3.In the years list, which year were you the oldest?

In [3]:
oldest_year = years_list[-1]
print(oldest_year)  #

1984

### 4. Make a list called things with these three strings as elements: mozzarella , cinderella, salmonella;.

In [4]:
# Create the list of things
things = ["mozzarella", "cinderella", "salmonella"]

# Print the list of things
print(things)

['mozzarella', 'cinderella', 'salmonella']

### 5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [10]:
things[1] = things[1].capitalize()

# Print the list of things
print(things)

['mozzarella', 'Mozzarella', 'salmonella']

### 6. Make a surprise list with the elements Groucho, Chico, and Harpo;

In [11]:
# Create the list of surprise
surprise = ["Groucho", "Chico", "Harpo"]

# Print the list of surprise
print(surprise)

['Groucho', 'Chico', 'Harpo']

### 7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [14]:
# Lowercase the last element of the list
surprise[-1] = surprise[-1].lower()

# Reverse the last element of the list
surprise[-1] = surprise[-1][::-1]

# Capitalize the last element of the list
surprise[-1] = surprise[-1].capitalize()

# Print the list of surprise
print(surprise)

['Groucho', 'Chico', 'Oprah']

### 8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [15]:
e2f = {
    "dog": "chien",
    "cat": "chat",
    "walrus": "morse"
}

# Print the dictionary
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### 9. Write the French word for walrus in your three-word dictionary e2f.

In [16]:
walrus_translation = e2f["walrus"]
print(walrus_translation)

morse

### 10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [18]:
f2e = {french: english for english, french in e2f.items()}

# Print the dictionary
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

### 11. Print the English version of the French word chien using f2e.

In [19]:
dog_translation = f2e["chien"]
print(dog_translation)

dog

### 12. Make and print a set of English words from the keys in e2f.

In [20]:
english_words = set(e2f.keys())

# Print the set of English words
print(english_words)

{'walrus', 'dog', 'cat'}

### 13. Make a multilevel dictionary called life. Use these strings for the topmost keys: &#39;animals&#39;, &#39;plants&#39;, and &#39;other&#39;. Make the &#39;animals&#39; key refer to another dictionary with the keys &#39;cats&#39;, &#39;octopi&#39;, and &#39;emus&#39;. Make the &#39;cats&#39; key refer to a list of strings with the values &#39;Henri&#39;, &#39;Grumpy&#39;, and &#39;Lucy&#39;. Make all the other keys refer to empty dictionaries.

In [21]:
life = {
    "animals": {
        "cats": ["Henri", "Grumpy", "Lucy"],
        "octopi": {},
        "emus": {}
    },
    "plants": {},
    "other": {}
}

# Print the multilevel dictionary
print(life)

{'animals': {'cats': ['Henri', 'Grumpy', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

### 14. Print the top-level keys of life.

In [22]:
print(life.keys())

dict_keys(['animals', 'plants', 'other'])

### 15. Print the keys for life[&#39;animals&#39;].

In [23]:
print(life["animals"].keys())

dict_keys(['cats', 'octopi', 'emus'])

### 16. Print the values for life[&#39;animals&#39;][&#39;cats&#39;]

In [25]:
print(life["animals"]["cats"])

['Henri', 'Grumpy', 'Lucy']