### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system,'

with open('test.txt', 'w') as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as f:
    test2 = f.read()
if test1 == test2:
    print("test1 and test2 are equal.")
else:
    print("test1 and test2 are not equal.")

test1 and test2 are equal.

### 3. Create a CSV file called books.csv by using these lines: title,author,year The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992

In [3]:
import csv

header = ['title', 'author', 'year']
rows = [    ['The Weirdstone of Brisingamen', 'Alan Garner', 1960],
    ['Perdido Street Station', 'China Miéville', 2000],
    ['Thud!', 'Terry Pratchett', 2005],
    ['The Spellman Files', 'Lisa Lutz', 2007],
    ['Small Gods', 'Terry Pratchett', 1992]
]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(rows)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("CREATE TABLE books (title text, author text, year integer)")

conn.commit()
conn.close()

In [5]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(cursor.fetchall())

conn.close()

[('books',)]

### 5. Read books.csv and insert its data into the book table.

In [6]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    header = next(reader)  # skip the header row
    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)

conn.commit()
conn.close()

In [7]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM books")
print(cursor.fetchall())

conn.close()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960), ('Perdido Street Station', 'China Miéville', 2000), ('Thud!', 'Terry Pratchett', 2005), ('The Spellman Files', 'Lisa Lutz', 2007), ('Small Gods', 'Terry Pratchett', 1992)]

### 6. Select and print the title column from the book table in alphabetical order.

In [8]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT title FROM books ORDER BY title")
titles = cursor.fetchall()
for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

### 7. From the book table, select and print all columns in the order of publication.

In [9]:
import sqlite3

conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute("SELECT * FROM books ORDER BY year")
books = cursor.fetchall()
for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [10]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')
conn = engine.connect()
cursor = conn.cursor()
cursor.execute("SELECT * FROM books")
print(cursor.fetchall())
conn.close()

AttributeError: 'Connection' object has no attribute 'cursor'

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for test.

In [ ]:
import redis

r = redis.Redis()

# create the hash
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# print all the fields
print(r.hgetall('test'))

### 10. Increment the count field of test and print it.

In [ ]:
import redis

r = redis.Redis()

# increment the count field
r.hincrby('test', 'count', 1)

# print the new value
print(r.hget('test', 'count'))